body {
    font-family: Arial, sans-serif;
    font-size: medium;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
}

#y-selector {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px; 
}

.bar-chart-container {
    margin-bottom: 10px; 
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    
}

.tall {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 700px; 
}

#scatter-plot, #bubble_chart {
    flex: 1;
    min-height: 700px; 
}

.row {
    margin-bottom: 0;
}