<!DOCTYPE html>
<html>
<head>
    <!--Title and import libraries/css file--> 
    <title>Scatter Plot and Pie Chart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!--Organize Graphs into dashboard--> 
    <div class="container">
        <div class="column">
            <h1>PFF RECV Grades</h1>
            <!--chart.js chart--> 
            <canvas id="bar-chart" width="200" height="115"></canvas>
        </div>
        <div class="column">
            <h1>Stats that Affect RECV Grade</h1>
            <div>
                <select id="y-selector">
                    <option value="avg_depth_of_target">Avg Depth of Target</option>
                    <option value="contested_catch_rate">Contested Catch Rate</option>
                    <option value="drop_rate">Drop Rate</option>
                    <option value="yards_after_catch_per_reception">Yards After Catch</option>
                    <option value="yprr">YPRR</option>
                </select>
            </div>
            <div id="scatter-plot"></div>
        </div> 
    </div>
    <!--access chart files--> 
    <script src="{{ url_for('static', filename='scatterplot.js') }}"></script>
    <script src="{{ url_for('static', filename='barchart.js') }}"></script>
</body>
</html>
