<!DOCTYPE html>
<html>
<head>
    <!--Title and import libraries/css file--> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>College Football Wide Receiver Statistics</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!--Organize Graphs into dashboard--> 
    <div class="container">
        <div class="row">
            <div class="column text-center">
                <h1>Football Statistics Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>          
        </div>
    </div>
    <div class="container">
        <div class="column">
            <h1>PFF RECV Grades</h1>
            <!--chart.js chart--> 
            <canvas id="bar-chart" width="200" height="115"></canvas>
        </div>
        <div class="column">
            <h1>Stats that Affect RECV Grade</h1>
            <div>
                <select id="y-selector">
                    <option value="avg_depth_of_target">Avg Depth of Target</option>
                    <option value="contested_catch_rate">Contested Catch Rate</option>
                    <option value="drop_rate">Drop Rate</option>
                    <option value="yards_after_catch_per_reception">Yards After Catch</option>
                    <option value="yprr">YPRR</option>
                </select>
            </div>
            <div id="scatter-plot"></div>
        </div> 
    </div>
    
    <!--access chart files--> 
    <script src="static/scatterplot.js"></script>
    <script src="static/barchart.js"></script>
    <script src="./static/js/app.js"></script>
</body>
</html>